#header {
    width: auto;
    height: 30px;
    float: right;
    font-family: arial, sans-serif;
}
#header ul {
    height: auto;
    padding: 10px 0px;
    margin: 0px;
}
#header li {
    display: inline;
    padding: 10px;
}
#header a {
    text-decoration: none;
    color: gray;
    padding: 8px;
}
#main {
    padding-top: 100px;
}
#form {
    text-align: center;
}
#formbox {
    height: 40px;
    width: 566px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border: 2px solid #f2f2f2;
    border-radius: 20px;
    font-family: arial, sans-serif;
    font-size: 18px;
}
.button {
    margin-top: 40px;
    margin-left: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 10px 16px;
    text-align: center;
}
#logo {
    width: 272px;
    height: 92px;
    padding: 80px 100px 10px 100px;
    display: block;
    margin: auto;
}
#footer {
    position: absolute;
    height: 35px;
    width: 99%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}
a {
    text-decoration: none;
    display: inline;
    padding: 10px 10px;
    color: #7c6b88;
    font-family: arial, sans-serif;
    font-size: 14px;
}
#signIn {
    background: #4387fd;
    width: 74px;
    height: 30px;
    font-size: 16px;
    border-radius: 3%;
    font-family: arial, sans-serif;
    color: white;
    border: #4387fd;
}